header p{
	display: inline;
	padding:20px;
	position: relative;
	top: 25px;
	padding-right: 40px;
	padding-left: 40px;

}


header{
	padding: 20px 0
	
}

header .row{
	background-color:#1F5846;
}

.main{
	background-color: #E7F3FF;
}
 .container .row{
	
}

.main p{
	padding:30px;
	font-family: 'Roboto', sans-serif
}

.container .row p{
	padding-top: 0px;
	padding-bottom: 20px;
}

img {
	width:320px;
	max-width: 320px;
	max-height: 500px;
}

.cast .container img{
	width: 45px;
}










/*#footer{
	position:absolute;
   bottom:0;
   width:100%;
   height:60px;    Height of the footer 
   left: 130px;
}*/